.section {
  @apply relative w-full h-screen flex justify-center items-center overflow-hidden bg-black z-0;
}

.imageWrapper {
  @apply absolute top-0 left-0 w-full h-full z-[1] overflow-hidden;
}

.imageMotion {
  @apply absolute top-0 left-0 w-full h-[175%] transform;

  transform-origin: center center;

  @media (max-width: 768px) {
    @apply top-[30%] left-0;
  }

  @media (max-width: 1440px) {
    @apply w-[100%] h-[175%];
  }
}

.imageContainer {
  @apply absolute top-0 left-0 w-full h-full overflow-hidden;
}

.capybaraWrapper {
  @apply absolute z-[2];

  @media (max-width: 768px) {
    top: 20%;
    left: -200vw;
  }

  @media (max-width: 1440px) {
    top: 18%;
    left: 14%;
  }

  @media (min-width: 1441px) {
    top: 17%;
    left: 14.5%;
  }
}
