$background-color: #f5f5f5;

/* For Text */
$primary-text-color: #333;
$secondary-text-color: #fff;
$primary-accent-text-color: #ff0000;
$secondary-accent-color: #ec6f6f;

/* For Buttons */
$btn-bg-color: #ff0000;

/* For Cards */
$card-bg-color: #fff;

/* Header */
$header-bg-color: #c51616;