@use '../styles/variables' as *;

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-radio-canada: 'Radio Canada', sans-serif;

  --background: #ffffff;

  /* For Text */
  --primary-text-color: #000000;
  --secondary-text-color: #ffffff;
  --primary-accent-text-color: #bc0000;
  --secondary-accent-color: #fa5858;

  /* For Buttons */
  --btn-bg-color: #ff0000;

  /* For Cards */
  --card-bg-color: #000000;

  /* Header */
  --header-bg-color: #c62626;

  /* Sections */
  --meet-magnus-bg-color: #f5dec4;
  --follow-magnus-bg-color: #ffffff;
  --tokenomics-bg-color: #be7e35;

  /* Footer */
  --footer-bg-color: #092354;
}

body {
  background-color: $background-color;
  font-family: var(--font-radio-canada);
}
